/* .sub-menu-1{
    display: none;
}
.navbar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: rgb(243, 243, 245);
    margin-top: 3px;
}
.navbar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.all-menu{
    text-decoration: none;
    color: rgb(139, 139, 139);
}
.all-menu:hover{
    color: #000;
}
.sub-menu-1 ul li{
    list-style-type: none;
}
.f-heading h2{
    font-size: 22px;
} */





/* navbar */
.navbar{
    background-color: #212529;
    display: flex;
}
.nav-logo img{
    width: 80px;
}
.nav-logo{
    margin-left: 30px;
}
.s-design{
    font-size: 17px;
    padding: 10px 8px;
}
.header-icon a{
    margin-left: 20px;
    font-size: 20px;
    color: #fff;
}
.header-icon a:hover{
    color: #45c3fd;
    transition: all 0.2s ease-in-out;
}
.s-margin{
    margin-right: 50px;
}
.search-bar input{
    border-radius: 10px;
    border: none;
    width: 300px;
    height: 45px;
}
.search-bar button{
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    background-color: #45c3fd;
    height: 45px;
    border-radius: 10px;
    margin-left: -30px;
    margin-top: -7px;
}
.search-bar button:hover{
    color: #fff;
    background-color: #45c3fd;
}
.search-bar button i{
    font-size: 22px;
}
.s-navbar ul{
    display: flex;
    justify-content: space-evenly;
}
.s-navbar ul li a{
    text-align: center;
    color: #fff;
    font-weight: 600;
}
.s-navbar ul li a:hover{
    color: #b8b9ba;
}
.e-space{
    /* margin-left: 50%; */
    margin-left: 300px;
}






.catagory{
    display: inline-block;
    background-color: #f2f4f8;
    border-radius: 10px;
    height: 150px;
    width: 9%;
}
.catagory a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #000;
    margin-top: 8%;
}
.catagory .cat-text{
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    margin-top: -3%;
}


/* All Featured Products starts */
.card-design{
    width: 25%;
    height: 380px;
    background-color: rgb(238, 237, 237);
}
.card-text h3{
    font-size: 18px;
}
.card-text p{
    font-size: 14px;
}
.all-p-img{
    width: 100%;
    height: 50%;
    background-color: rgb(238, 237, 237);
    border-bottom: 2px solid #fff;
}
.card-text .item-price{
    font-size: 18px;
    font-weight: 600;
    color: #ef4a23;
}

/* footer section */
footer{
    background-color: #212529;
    margin-top: 50px;
}
.s-map{
    width: 100%;
}
.copy-text{
    display: flex;
    color: rgb(123, 123, 123);
    align-items: center;
    justify-content: center;
    padding: 18px 0;
}
.f-content{
    display: flex;
    justify-content: space-evenly;
}
.f-link a{
    color: #fff;
    text-decoration: none;
}
.im-link a{
    display: block;
    padding: 6px;
}
.im-link a:hover{
    color: #45c3fd;
    text-decoration: underline;
}
.m-icon a{
    padding: 10px;
    font-size: 22px;
}
.m-icon a:hover{
    color: #45c3fd;
}
.f-contact{
    padding: 10px;
}
.f-contact h3{
    color: #fff;
    font-size: 16px;
}
.f-contact p{
    color: #fff;
}
.s-app i{
    font-size: 20px;
    font-weight: 600;
    
}
.m-img{
    margin-left: 30px;
    margin-bottom: 10px;
}